/* menus generaux */

nav {
	border-style:outset;
	background-color: #eeffee;
}
.mainComponent {
	border-style:outset;
	border-width:2px;
}
#form_name {
	display: flex;
	flex-direction:row;
	gap:2em;
}

/* ------------------ */
/* menu de selection de niveau (jeu et edition) */

.level_list div {
	width:20em;
	border-style:outset
}
.level_new {
	width:16em;
	border-style:outset;
	background-color: #fafffa;
}

.level_list div:nth-child(even) {
	background-color: #ffeeff;
}

.level_list div:nth-child(odd) {
	background-color: #fafaff;
}
.delete{
	border-style:outset;
	background-color:#fa8888;
	color:#ffffff;
}
.danger{
	border-style:outset;
	background-color:#fa4444;
	color:#ffff00;
}

/* ------------------ */
/* terrain (jeu et édition) */

.space {
	width:20px;
	height:20px;
}
.spaceRow {
	display:flex;
	justify-content: center;
}
.space_empty {
	background-color:white;
}
.space_wall {
	background-color:grey;
}
.space_goalA {
  background-image:url("../images/goal_A.png");
}
.space_goalB {
  background-image:url("../images/goal_B.png");
}
.space_goalC {
  background-image:url("../images/goal_C.png");
}
.space_blockA {
  background-image:url("../images/block_A.png");
}
.space_blockB {
  background-image:url("../images/block_B.png");
}
.space_blockC {
  background-image:url("../images/block_C.png");
}
.superposition {
  position:relative;
  left:3px;
  top:3px;
  width:8px;
  height:8px;
}
.correct {
  background-image:url("../images/correct.png");
}
.wrong_A {
  background-image:url("../images/wrong_A.png");
}
.wrong_B {
  background-image:url("../images/wrong_B.png");
}
.wrong_C {
  background-image:url("../images/wrong_C.png");
}

/* ------------------ */
/* panel de jeu */

.blockTypePanel { /* The number of moves of A + the A */
	display:row;
	flex-direction:column;
	justify-content: center;
}
.blockTypePanel div {
	text-align: center;
}
.blockTypePanel.selected { 
    border-style:solid;
	border-color: green;
}
.blockTypePanel.not-selected { 
    border-style:solid;
	border-color: #ffcc99;
}
.infiniteMoves {
	background-color : #ffffff;
	border-color:#0000ff;
	color:#0000ff;
	border-width:2px;
}
.tooManyMoves { 
	color : #ff0000;
	font-weight:bold;
}
.moveDisplay {
	font-size:0.75em;
	block-size: fit-content;
}
.mainMovesPanel {
	display:flex;
	flex-direction:row;
	justify-content: center;
	gap:20px;
}
.directionsPanel {
	display:flex;
	flex-direction:column;
	align-items: center;
}
.buttonSelectionPlay {width: 2.5em;  } /*Note : cela force la largeur des composants englobants (blockTypePanel)*/
.A {background-color:yellow; }
.B {background-color:#FF8844; }
.C {background-color:#CC88FF; }

/* ------------------ */
/* panels (jeu et edition) */

.panel {
	display:flex;
	flex-direction:column;
	align-items: center;
	background-color:#ffcc99;
}

/* ------------------ */
/* panel (edition) */

.blockTypePanel0 {
	display:flex;
	flex-direction:row;
}
.buttonSelectionA { background-color:yellow; }
.buttonSelectionB { background-color:#FF8844; }
.buttonSelectionC { background-color:#CC88FF; }
.buttonSelectionALight { background-color:#ffffaa; }
.buttonSelectionBLight { background-color:#FFddaa; }
.buttonSelectionCLight { background-color:#eeaaff; }
.inputMoves.A { background-color:#ffffbb; }
.inputMoves.B { background-color:#ffeebb; }
.inputMoves.C { background-color:#fabbff; }
.littleHelp {
	font-style: italic;
	font-size:0.6em;
	white-space: pre;
}
.inputMoves {
	width:2.8em;
}

/* ------------------ */
/* divers */
.error {
	color : #ff4400;
	background-color : #880000;
}