.space {
	width:20px;
	height:20px;
}

.spaceRow {
	display:flex;
	justify-content: center;
}

.space_empty {
	background-color:white;
}

.blockA {
	background-color:yellow;
}

.blockB {
	background-color:#FF8844;
}

.blockC {
	background-color:#CC88FF;
}

.nav Link {
	margin-right:3em;
}

/* ------------------ */
.CommandsPanel {
	display:flex;
	flex-direction:column;
	align-items: center;
}
.directionsPanel0 {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.directionsPanel {
	display:flex;
	flex-direction:column;
	align-items: center;
}

.buttonSelectionA { background-color:yellow; }
.buttonSelectionB { background-color:#FF8844; }
.buttonSelectionC { background-color:#CC88FF; }

.space_wall {
	background-color:grey;
}
