.space {
	width:20px;
	height:20px;
}

.spaceRow {
	display:flex;
	justify-content: center;
}

.space_empty {
	background-color:white;
}

.blockA {
	background-color:yellow;
}

.blockB {
	background-color:#FF8844;
}

.blockC {
	background-color:#CC88FF;
}

nav {
	border-style:outset;
	background-color: #eeffee;
}

/* ------------------ */
.mainComponent {
	border-style:outset;
	border-width:2px;
}
/* ------------------ */

.level_menu div {
	width:20em;
	border-style:outset
}
.level_new {
	background-color: #fafffa;
}
.level_menu div:nth-child(even):not(:last-child) {
	background-color: #ffeeff;
}
.level_menu div:nth-child(odd):not(:last-child) {
	background-color: #fafaff;
}
.delete{
	border-style:outset;
	background-color:#fa8888;
	color:#ffffff;
}

/* ------------------ */
.panel {
	display:flex;
	flex-direction:column;
	align-items: center;
	background-color:#ffcc99;
}
.directionsPanel0 {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.directionsPanel {
	display:flex;
	flex-direction:column;
	align-items: center;
}

.buttonSelectionA { background-color:yellow; }
.buttonSelectionB { background-color:#FF8844; }
.buttonSelectionC { background-color:#CC88FF; }

.space_wall {
	background-color:grey;
}
