.space {
	width:20px;
	height:20px;
}

.spaceRow {
	display:flex;
}

.space_empty {
	background-color:white;
}

.blockA {
	background-color:yellow;
}

.blockB {
	background-color:#FF8844;
}

.blockC {
	background-color:#CC88FF;
}

.space_wall {
	background-color:grey;
}
